body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form#uploadForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  input[type="file"] {
    display: flex;
    align-self: center;
    border: 1px solid #ccc;
    margin: 2em 0;
    padding: 1em
  }
  
  button[type="submit"] {
    background-color: #0078D7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button[type="submit"]:hover {
    background-color: #005A9E;
  }
  
  #tab {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
  }